@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --global-color-primary: #ffffff;
    --global-color-secondary: #66FCF1;
    --global-color-text: #FFFFFF99;
    --global-color-accent: #0B0C10;
    --global-color-light-text: #FFFFFF30;
    --global-color-star-rating: #FFD638;
    --global-color-bg-1: #14151B;
    --global-color-bg-2: #21232C;
    --global-color-transparent: transparent;
    --font-family: "Poppins", sans-serif;
    --light-black: rgba(0, 0, 0, 0.5);
}

.dark-theme {
    --global-color-primary: #000000;
    --global-color-secondary: #008080;
    --global-color-text: #00000099;
    --global-color-accent: #ffffff;
    --global-color-light-text: #00000030;
    --global-color-star-rating: #FFD638;
    --global-color-bg-1: #f1f1f1;
    --global-color-bg-2: #f2f2f2;
    --global-color-transparent: transparent;
    --font-family: "Poppins", sans-serif;
    --light-black: rgba(255, 255, 255, 0.3);
}

body {
    overflow-x: hidden;
}

img,
svg,
iframe,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


h1 {
    font-family: var(--font-family);
    font-size: 4.5rem;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--global-color-primary);
    margin: 0.8rem 0 1rem 0;
    text-transform: capitalize;
}

h2 {
    font-family: var(--font-family);
    font-size: 56px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: var(--global-color-primary);
    margin: 0.5rem 0 1rem 0;
}

h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 1.3em;
    color: var(--global-color-primary);
    font-weight: 600;
    letter-spacing: 0.3px;
}

/* h5 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: normal;
    color: var(--secondary-color);
} */

p {
    font-size: 1rem;
    color: var(--global-color-text);
    line-height: 1.5em;
    font-style: normal;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

.btn,
.border-btn {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 1px;
    color: var(--global-color-accent);
    background-color: var(--global-color-secondary);
    border-radius: 50px;
    padding: 16px 32px;
    display: inline-block;
    transition: 0.3s linear;
}

.border-btn {
    font-weight: 500;
    margin: 1.2rem auto 0.8rem auto;
    letter-spacing: 4px;
    padding: 8px 16px;
    font-size: 0.95rem;
    border: 1px solid var(--global-color-light-text);
    background-color: var(--global-color-transparent);
    color: var(--global-color-secondary);
    transition: 0 none;
}

.border-btn:hover {
    box-shadow: 0.1rem 0.1rem 2rem 0.05rem rgba(102, 252, 241, 0.2);
}

.btn:hover {
    background-color: var(--global-color-primary);
}

.btn i {
    margin-left: 1px;
    font-size: 1.1rem;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover i {
    transform: translateX(7px) scale(1.2);
}


/* header section starts */
.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--light-black);
    padding: 2rem 0;
    z-index: 99;
}

.header-shadow {
    box-shadow: 0 .1rem .3rem var(--light-black);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbar .nav_logo a,
.logo a {
    display: inline-block;
}

body:is(.dark-theme) .black-logo {
    display: none;
}

body:is(.dark-theme) .intro-sec::before,
.price-sec::before,
.price-sec::after,
.feature-sec::before,
.feature-sec::after,
.faq-sec::before,
.faq-sec::after,
.footer-sec::before,
.footer-sec::after {
    display: none;
}

body:not(.dark-theme) .white-logo {
    display: none;
}

.navbar .nav_logo a img,
.logo a img {
    width: 220px;
    object-fit: cover;
}

.navbar,
.navbar .navigations ul,
.intro-sec .intro,
.faq-question,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.navbar .navigations ul li a {
    color: var(--global-color-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.navbar .navigations ul li a.active,
.navbar .navigations ul li a:hover {
    color: var(--global-color-secondary);
}

.navbar .toggle {
    font-size: 1.4rem;
    color: var(--global-color-primary);
    display: none;
    cursor: pointer;
}

.navbar .theme-path {
    background-color: var(--global-color-bg-2);
    height: 1.6rem;
    width: 3.5rem;
    border-radius: 50px;
    position: relative;
    border: 6px solid var(--global-color-bg-2);
    cursor: pointer;
}

.navbar .theme-path .btn-circle {
    background-color: var(--global-color-light-text);
    width: 18px;
    height: 18px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.btn-circle-right {
    left: auto !important;
    right: 0;
    background-color: var(--global-color-secondary) !important;
}

/* Home section starts */
.intro-sec {
    background-color: var(--global-color-accent);
    padding: 12rem 0 5rem 0;
    position: relative;
    z-index: 2;
    margin-top: -90px;
}

.intro-sec .intro {
    position: relative;
    gap: 5rem;
}

.intro .content {
    max-width: 52%;
}

.intro .content span {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 500;
    color: var(--global-color-secondary);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.intro .image {
    width: calc(100% - 52% - 5rem);
    text-align: center;
}

.intro .btns {
    margin-top: 2rem;
}

.intro .btns .btn2 {
    margin-left: 0.8rem;
}

.intro .image img {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0.02rem 0.02rem 25px var(--global-color-secondary));
    animation: zoomIn 3s ease-in-out infinite;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.92);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.92);
    }
}


.down_arrow {
    position: absolute;
    left: 30px;
    bottom: 0;
    color: var(--global-color-primary);
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border: 2px solid var(--global-color-primary);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: Bounce 2s infinite linear forwards;
}

@keyframes Bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ure section starts */
.feature-sec {
    /*  background-color: var(--global-color-bg-1); */
    background: linear-gradient(to bottom, var(--global-color-bg-1), var(--global-color-accent));
    padding: 5rem 0;
    position: relative;
    z-index: 2;
}

.top-btn {
    text-align: center;
}

.heading {
    text-align: center;
}

p.title {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.features .grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem 1.5rem;
}

.features .grid .card {
    background-color: var(--global-color-accent);
    border-radius: 10px;
    border: 1px solid var(--global-color-light-text);
    padding: 60px 24px 20px 24px;
    transition: all .4s ease;
    text-align: center;
    overflow: hidden;
}

.features .grid .card:hover {
    box-shadow: 0.1rem 0.1rem 2rem 0.05rem rgba(102, 252, 241, 0.2);
    cursor: pointer;
    /* transform: translateY(-10px); */
    border: 1px solid var(--global-color-secondary);
    padding: 0 24px 80px 24px;
}

.features .grid .card .icon {
    font-size: 3rem;
    color: var(--global-color-secondary);
    margin-bottom: 24px;
    display: inline-block;
    transition: all .4s ease;
}

.features .grid .card:hover .icon {
    opacity: 0;
}

.features .grid .card p {
    margin: 15px 0 20px 0;
}

.view-btn {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2px;
    color: var(--global-color-secondary);
    transition: all 0.4 ease;
    opacity: 0;
}

.view-btn i {
    margin-left: 6px;
    display: inline-block;
}

.features .grid .card:hover .view-btn {
    opacity: 1;
}

/* price section starts */
.price-sec {
    padding: 5rem 0;
    background-color: var(--global-color-bg-1);
    position: relative;
    z-index: 2;
}

.intro-sec::before,
.price-sec::before,
.price-sec::after,
.feature-sec::before,
.feature-sec::after,
.faq-sec::before,
.faq-sec::after,
.footer-sec::before,
.footer-sec::after {
    content: '';
    position: absolute;
    left: -70px;
    top: 250px;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: var(--global-color-secondary);
    box-shadow: 10px 10px 300px 100px var(--global-color-secondary),
        -10px -10px 400px 100px var(--global-color-secondary);
    z-index: -1;
    opacity: 0.8;
}

.price-sec::after,
.feature-sec::after,
.faq-sec::after,
.footer-sec::after {
    left: auto;
    right: -100px;
    top: auto;
    bottom: 300px;
    transform: none;
    opacity: 0.9;
}

.price .grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.price .grid .card {
    padding: 2rem;
    border: 2px solid var(--global-color-light-text);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--global-color-accent);
    position: relative;
    overflow: hidden;
}

.price .grid .card p {
    color: var(--global-color-primary);
}

.price .grid .card::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--global-color-secondary);
    height: 0px;
    border-radius: 50%;
    width: 0px;
    box-shadow: 10px 10px 150px 100px var(--global-color-secondary);
    z-index: -1;
    opacity: 0.32;
}

.price .grid .top-btn {
    text-align: left;
    margin-bottom: 1.5rem;
}


.price .grid .top-btn a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
}

.price .grid .card h3 span {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 6px;
}

.price .grid .card hr {
    margin: 1.2rem 0;
    height: 1px;
    background-color: var(--global-color-text);
    border: 0;
}

.price .grid .card ul li {
    padding-bottom: 7px;
    color: var(--global-color-primary);
    font-weight: 300;
    letter-spacing: 0.9px;
    font-size: 14px;
}

.price .grid .card ul li:last-child {
    padding-bottom: 0;
}

.price .grid .card ul li i {
    color: var(--global-color-primary);
    font-size: 1rem;
    margin-right: 4px;
}

.price .grid .card .btn {
    margin-top: 2rem;
    width: 100%;
    display: block;
    text-align: center;
    padding: 13px 20px;
}

.price .grid .card .btn:not(.price .grid .highlight .btn) {
    background-color: transparent;
    border: 1px solid var(--global-color-secondary);
    color: var(--global-color-secondary);
}

.price .grid .highlight {
    border: 2px solid var(--global-color-secondary);
    transform: scale(1.03);
    transition: all 0.4s linear;
}

.price .grid .highlight hr {
    background-color: var(--global-color-secondary);
}

.price .grid .highlight ul li,
.price .grid .highlight ul li i {
    color: var(--global-color-secondary);
}

/* faq-sec section starts */
.faq-sec {
    padding: 5rem 0;
    background-color: var(--global-color-accent);
    position: relative;
    z-index: 3;
}

.faq .accordion {
    margin-top: 60px;
}

.accordion-item {
    width: 100%;
}

.accordion-header {
    padding: 10px 15px;
    width: 100%;
    background-color: var(--global-color-bg-1);
    border-radius: 5px;
    border: 1px solid var(--global-color-light-text);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--global-color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-header i {
    transition: 0.3s;
    font-size: 22px;
}

.accordion-header.active {
    background-color: var(--global-color-secondary);
    color: var(--global-color-accent);
}

.accordion-header.active i {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--global-color-bg-2);
    border-radius: 5px;
    color: var(--global-color-primary);
    display: none;
    letter-spacing: 0.5px;
}

.accordion-content.active {
    display: block;
}

/* Testmonials section starts */
.testimonial-sec {
    padding: 5rem 1rem;
    background-color: var(--global-color-bg-1);
    position: relative;
    z-index: 2;
}

.testimonial-sec::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: var(--global-color-secondary);
    box-shadow: 10px 10px 400px 100px var(--global-color-secondary);
}

.testimonial h2 {
    text-align: center;
}

.testminial-slider {
    margin-top: 60px;
}

.testimonial-sec .testimonial .testminial-slider .owl-stage-outer {
    position: relative;
}

.testminial-slider .card {
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--global-color-light-text);
    background-color: var(--light-black);
    backdrop-filter: blur(20px);
}

.testminial-slider .card ul {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--global-color-star-rating);
    margin-bottom: 1rem;
}

.testminial-slider .card .profile {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.testminial-slider .card .profile .image {
    max-width: 70px;
}

.testminial-slider .card .profile .image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testminial-slider .card .profile .content {
    width: calc(100% - 100px - 1.2rem);
}

.testminial-slider .card .profile .content span {
    color: var(--global-color-primary);
    display: block;
}

.testminial-slider .card .profile .content .name {
    font-size: 20px;
    font-weight: 600;
}

.testminial-slider .card .profile .content .post {
    font-weight: 400;
    font-size: 12px;
    margin-top: 7px;
    color: var(--global-color-text);
}

/* navs */
.testimonial .testminial-slider .owl-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 103%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.testimonial .testminial-slider .owl-nav button {
    background-color: var(--global-color-secondary);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
}

.testimonial .testminial-slider .owl-nav button:hover {
    background-color: var(--global-color-primary);
}

.testimonial .testminial-slider .owl-nav button span {
    font-size: 40px;
    color: var(--global-color-accent);
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testimonial .testminial-slider .owl-nav .owl-prev span {
    margin: 0 3px 5px 0;
}

.testimonial .testminial-slider .owl-nav .owl-next span {
    margin: 0 0 5px 3px;
}

/* dots */
.testimonial-sec .testimonial .testminial-slider .owl-dots {
    margin-top: 25px;
}

.testimonial .testminial-slider .owl-dots .owl-dot span {
    background-color: var(--global-color-text);
}

.testimonial .testminial-slider .owl-dots .active span {
    background-color: var(--global-color-secondary);
}

/* Footer section starts */
.footer-sec {
    background-color: var(--global-color-accent);
    padding: 5rem 0;
    position: relative;
    z-index: 2;
}

.footer {
    align-items: flex-start;
}

.footer .column ul {
    margin-top: 25px;
}

.footer .column ul li {
    margin-bottom: 12px;
}

.footer .column ul li a {
    color: var(--global-color-primary);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.footer .column ul li a i {
    margin-right: 5px;
}

.footer .column ul li a:hover {
    color: var(--global-color-secondary);
}

.footer .column:last-child ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer .column:last-child ul li a {
    font-size: 1.2rem;
}

.footer .column:last-child ul li a:hover {
    transform: scale(1.2);
}

.footer .column:not(.footer .column:first-child, .footer .column:last-child) ul li a:hover {
    transform: translateX(10px);

}

@media(max-width:1199px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 42px;
    }
}

@media(max-width:992px) {
    .intro .content {
        max-width: 100%;
    }

    .intro .image {
        width: 100%;
    }

    .intro .image img {
        width: 40%;
    }

    .features .grid {
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .price .grid {
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .faq .accordion {
        margin-top: 50px;
    }
}

@media(max-width:767px) {
    .header {
        padding: 1.2rem 0;
    }

    .nav_logo {
        max-width: 150px;
    }

    .navigations {
        position: absolute;
        left: 0;
        top: -300px;
        background-color: var(--global-color-secondary);
        width: 100%;
        padding: 2rem;
        z-index: -1;
        opacity: 0;
    }

    .show_navigations {
        top: 65px;
        opacity: 1;
        transition: all 0.3s;
    }

    .navigations ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .navbar .navigations ul li a {
        color: var(--global-color-accent);
    }

    .navbar .navigations ul li a.active,
    .navbar .navigations ul li a:hover {
        color: var(--global-color-primary);
    }

    .toggle {
        order: 4;
    }

    .theme-path {
        order: 3;
    }

    .navbar .toggle {
        display: block;
        font-size: 1.6rem;
    }

    .ri-close-line:before {
        content: "\eb99" !important;
    }

    .intro .image img {
        width: 60%;
    }

    .down_arrow {
        position: absolute;
        left: 10px;
        bottom: -40px;
    }
}

@media(max-width:600px) {
    .features .grid {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .price .grid {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial .testminial-slider .owl-nav {
        width: 107%;
    }
}

@media(max-width:480px) {

    .navbar,
    .navbar .navigations ul {
        gap: 1.3rem;
    }

    .intro .btns .btn2 {
        margin-left: 0;
        margin-top: 0.8rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    .intro .image img {
        width: 80%;
    }
}